<header>
    <div class="content-header-top">
       <a routerLink="" class="brand">
        <img src="assets/online-shopping.png" alt="brand_img">
        <span>MyStore</span>
       </a>
        <div class="content-search">
            <form class="search-form">
                <input type="name" id="name" name="name" placeholder="Buscar por nome, categoria..." [(ngModel)]="nameSearch">
                <button class="btn-search" (click)="handleNameSearch()" > <fa-icon [icon]="faSearch"></fa-icon> </button>
            </form>

            <ul class="categorys">
                
                <li class="select-category">
                    <div class="btn-group" dropdown>
                        <button id="button-basic" dropdownToggle type="button" aria-controls="dropdown-basic">
                          Categorias<span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                            role="menu" aria-labelledby="button-basic">
                          <li role="menuitem"><button class="dropdown-item" (click)="handleSearchByCategory(1)" >Eletronicos</button></li>
                          <li role="menuitem"><button class="dropdown-item" (click)="handleSearchByCategory(2)">Eletrodomésticos</button></li>
                          <li role="menuitem"><button class="dropdown-item"(click)="handleSearchByCategory(3)">Moda</button></li>
                          
                        </ul>
                      </div>
                </li>

                <li><button (click)="handlerOfferOfDay()" >Ofertas do dia</button></li>
                <li><button>Mais populares</button></li>
            </ul>

            
        </div>
       
            <ul class="options-user">
                <li> <a routerLink="/register">Crie sua conta</a> </li>
                <li> <a routerLink="/login">Entre</a> </li>
                <li> <a href="#">Minhas compras</a> </li>
                <li id="cart-element"><a routerLink="/cart" type="button" class="btn btn-primary position-relative" title="Carrinho de comprars">
                   <fa-icon [icon]="faCart" ></fa-icon>

                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      {{ ((cart$ | async)!.listOrderItem)!.length  }}
                      <span class="visually-hidden">unread messages</span>

                    </span>
                  </a></li>
            </ul>
      
    </div>
</header>
