.container-main
    width: 100%
    padding-top: 1em 
    display: flex
    justify-content: center
    gap: 1.4em
    padding: 1em 0.4em
    .content-main
        width: 800px

.frete-container,
.pay-container,
.resume-order
    width: 100%
    padding: 1em 0em
    .content
        width: 100%
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px
        border-radius: 5px
        margin: 0.8em 0em
        padding: 1em 0.7em

.frete-container
    button
        border: none
        background: none

.pay-container
    .options-pay
        width: 100%
        padding: 0
        margin: 0
        li
            width: 100%
            list-style: none
            display: flex
            justify-content: space-between
            align-items: center


.resume-order
    .finalize
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center
    .product-list
        padding: 0
        max-height: 460px
        overflow: scroll
        li
            list-style: none
            width: 100%
    .finalize
        font-weight: bold


.sumary-order
    height: 270px
    display: flex
    flex-direction: column
    padding: 0.5em 0.8em
    margin-top: 16px
    border: 1px solid #aaa
    border-radius: 5px
    .sumary
        display: flex
        flex-direction: column
        font-size: 0.8em
        div
            display: flex
            justify-content: space-between
    .total
        margin-bottom: 0.5em
        display: flex
        justify-content: space-between
        font-weight: bold
    button
        margin: 0.2em 0em


@media ( max-width:1130px)
    .container-main
        flex-direction: column
        align-items: center
    .sumary-order
        min-width: 250px

@media ( max-width:810px)
    .container-main
        .content-main
            width: 100%
    .sumary-order
        width: 100%
        position: relative
        margin: 0em 2em
    
