<header>
    <div class="container-header">
    <div class="brand">
       <a routerLink="/">
        <img src="assets/online-shopping.png" alt="img_brand">
        MyStore
       </a>
    </div>
    <h3>
        Finalizar pedido!
    </h3>
    <div></div>
</div>
</header>
<main>

    <div class="container-main">
        <div class="content-main">
        <div class="frete-container">
            <div class="title">
                Endereço de entrega
            </div>
            <div class="content">   
                <button>Adicionar um novo endereço</button>
            </div>
        </div>

        <div class="separator"></div>

        <div class="pay-container">
            <div class="title">
                Metodo de pagamento
            </div>
            <div class="content">
                <ul class="options-pay">
                    <li>
                        <a href="#"> <fa-icon [icon]="faWallet" ></fa-icon> Carteira MyStore</a>
                        <span>Saldo: R$1000,00</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="separator"></div>

        <div class="resume-order">
            <div class="title">
                Resumo do pedido
            </div>
            <div class="content">
                <ul class="product-list">
                    <li *ngFor="let orderItem of (Order$ | async)!.listOrderItem">

                        <div class="prod-card">
                            <div class="content-card">
                                <div class="image">
                                    <img [src]="orderItem.product.image?.url" alt="img_product" id="img-product">
                                </div>

                                <div class="info">
                                    <span id="name">{{orderItem.product.name}}</span>
                                    <span id="price">R$ {{orderItem.product.price.toFixed(2)}}</span>
                                    <span id="buy-by">vendido por: MyStore</span>
                                    <div class="input-custom-number">
                                        <button class="decrement" (click)="decrementValue(orderItem.product.id,orderItem.quantidade)">-</button>
                                            <input type="number" minlength="1" maxlength="7" class="attibut-value" readonly [value]="orderItem.quantidade">
                                        <button class="increment" (click)="incrementValue(orderItem.product.id,orderItem.quantidade)">+</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="separator"></div>

                    </li>
                </ul>
                <!-- <div class="separator"></div> -->
                <div class="finalize">
                    <button class="btn btn-warning" >Finalizar pedido</button>
                    <span>Total: R$  {{ ((Order$ | async)!.total).toFixed(2) }}</span>
                </div>
            </div>
        </div>
    </div>
    </div>

</main>
