<app-header-simple [titleHeader]="'Finalizar pedido'" ></app-header-simple>
<main>

    <div class="container-main">
        <div class="content-main">
            <div class="frete-container">

               
                    <accordion>
                        <accordion-group heading="Endereço de entrega" [panelClass]="'customClassAccording'" >
                        
                            <div class="loading" *ngIf="loading">
                                <div class="spinner-border text-warning" role="status">
                                <span class="visually-hidden">Loading...</span>
                              </div>
                            </div>

                             
                    <ul class="card-address" *ngIf="listAddress">
                        <li class="form-control" *ngFor="let addres of listAddress; let i = index">

                            <input type="radio" id="contactChoice2" name="select" [value]="i" (change)="calcFreteAndPrazo(i)" />  
                            <span>Cep: {{addres.cep}} | </span>
                            <span>Estado: {{addres.uf}} | </span>
                            <span>Cidade: {{addres.city}} | </span>
                            <span>logradouro: {{addres.logradouro}} | </span>
                            <span>Numero: {{addres.number}} | </span>
                            <span>Complemento: {{addres.complement}} | </span>
                            <span> Quem vai receber: {{addres.whoReceive}} | </span>
                            <button (click)="DeleteAddress(i)" >Excluir</button>
                            
                        </li>
                    </ul>
                    <button (click)="openModal(template)" *ngIf="listAddress.length <= 2"> <fa-icon [icon]="faPlus"></fa-icon> Adicionar um novo
                        endereço</button>
                        
                        </accordion-group>
                    </accordion>

                
            </div>

            <div class="separator"></div>

            <div class="pay-container">

                <accordion>
                    <accordion-group heading="Metodo de pagamento" [panelClass]="'customClassAccording'">
                      
                        <ul class="options-pay">
                            <li>
                                <a href="#"> <fa-icon [icon]="faWallet"></fa-icon> Carteira MyStore</a>
                                <span>Saldo: R$1000,00</span>
                            </li>
                        </ul>

                    </accordion-group>
                </accordion>
            </div>

            <div class="separator"></div>

            <div class="resume-order">
                    <accordion>
                        <accordion-group heading=" Revisar itens" [panelClass]="'customClassAccording'">
                          
                            
                    <ul class="product-list">
                        <li *ngFor="let orderItem of (Order$ | async)!.listOrderItem">

                            <div class="prod-card">
                                <div class="content-card">
                                    <div class="image">
                                        <img [src]="orderItem.product.image?.url" alt="img_product" id="img-product">
                                    </div>

                                    <div class="info">
                                        <span id="name">{{orderItem.product.name}}</span>
                                        <span id="price">R$ {{orderItem.product.price.toFixed(2)}}</span>
                                        <span id="buy-by">vendido por: MyStore</span>
                                        <div class="options">

                                            <div class="input-custom-number">
                                                <button class="decrement"
                                                    (click)="decrementValue(orderItem.product.id,orderItem.quantidade)">-</button>
                                                <input type="number" minlength="1" maxlength="7" class="attibut-value"
                                                    readonly [value]="orderItem.quantidade">
                                                <button class="increment"
                                                    (click)="incrementValue(orderItem.product.id,orderItem.quantidade)">+</button>
                                            </div>
                                            <button type="button" class="btn-del"
                                                (click)="removeItemFromOrder(orderItem.product.id)">
                                                <fa-icon [icon]="faTrash" title="Remover item"></fa-icon></button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="separator"></div>

                        </li>
                    </ul>
                    <!-- <div class="separator"></div> -->
                    <div class="finalize">
                        <button class="btn btn-warning">Finalizar pedido</button>
                        <span>Total: R$ {{ ((Order$ | async)!.total).toFixed(2) }}</span>
                    </div>

                        </accordion-group>
                    </accordion>
                
            </div>
        </div>
        <!--Sumary order-->
        <div class="sumary-order">
            <div class="sumary">
                <h3>Resumo do pedido</h3>
                <div><span>Itens:</span> <span>R$ {{ ((Order$ | async)!.total).toFixed(2) }}</span> </div>
                <div><span>Frete e manuseio:</span> <span> {{valueCalcFrete.price ? 'R$ '+valueCalcFrete.price : '--' }}</span></div>
                <div><span>Prazo para entrega: </span> {{valueCalcFrete.prazo ? valueCalcFrete.prazo+' dias' : '--'}}</div>
            </div>
            <div class="separator"></div>
            <div class="total">
                <span>Total do pedido:</span><span>R$ {{ ((Order$ | async)!.total + valueCalcFrete.price).toFixed(2) }}</span>
            </div>
            <button class="btn btn-warning">Finalizar pedido</button>
        </div>
         <!--Sumary order-->
    </div>
</main>

<!--Modal new address-->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left"> Adicionar endereço.</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form class="form-address" [formGroup]="formAddress" #addresForm="ngForm">

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">CEP:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" required formControlName="cep"
                    placeholder="Apenas numeros..." (blur)="searchCep($event)">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Estado:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" readonly formControlName="uf">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Cidade:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" readonly formControlName="city">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Logradouro:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="logradouro">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Numero:</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" formControlName="number">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Complemento:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="complement">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Quem vai receber:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="whoReceive">
            </div>

            

            <button type="button" class="btn btn-warning"
                [disabled]="addresForm.invalid" (click)="addAddress()">Adicionar</button>

        </form>

    </div>
</ng-template>
<!--Modal new address-->

