<app-header-simple [titleHeader]="'Carrinho de compras'"></app-header-simple>
<main>

    <div class="container-cart">

        <div class="resume-order">
            <div class="title">

            </div>
            <div class="content">
                <ul class="product-list">

                    <h4 *ngIf="((cart$ | async)!.listOrderItem).length === 0" > Você não tem itens no carrinho...</h4>

                    <li *ngFor="let orderItem of (cart$ | async)!.listOrderItem">

                        <div class="prod-card">
                            <div class="content-card">
                                <div class="image">
                                    <img [src]="orderItem.product.image?.url" alt="img_product" id="img-product">
                                </div>

                                <div class="info">
                                    <span id="name"> <span>{{orderItem.product.name}}</span>
                                        <!-- <span>R$ {{(orderItem.product.price.toFixed(2) * orderItem.quantidade)}}</span> -->
                                    </span>
                                    <span id="price">R$ {{orderItem.product.price.toFixed(2)}}</span>
                                    <span id="buy-by">vendido por: MyStore</span>

                                    <div class="options">

                                        <div class="input-custom-number">
                                            <button class="decrement" type="button" id="bntIncValue"
                                                (click)="decrementValue(orderItem.product.id,orderItem.quantidade)">-</button>
                                            <input type="number" minlength="1" maxlength="7" class="attibut-value"
                                                readonly [value]="orderItem.quantidade">
                                            <button class="increment" type="button" id="btnDecrValue"
                                                (click)="incrementValue(orderItem.product.id,orderItem.quantidade)">+</button>
                                        </div>
                                        <button type="button" class="btn-del" (click)="removeProductAtCart(orderItem.product.id)">
                                            <fa-icon [icon]="faTrash" title="Remover item" ></fa-icon></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="separator"></div>

                    </li>
                </ul>
                <!-- <div class="separator"></div> -->
                <div class="finalize">
                    <button class="btn btn-warning" (click)="sendOrdersFromFinalizeBuy()" type="button"  id="btnFinalyOrder" [disabled]="(cart$ | async)!.listOrderItem.length < 1" >
                        Fechar pedido</button>
                    <span>Total: R$ {{ ((cart$ | async)!.total).toFixed(2)}}</span>
                </div>
            </div>
        </div>
    </div>
</main>