<app-header></app-header>
<main>
    <div class="container">
        <div class="content-product-details">
            <div class="content-left">
                <img src="https://cdn-icons-png.flaticon.com/512/3659/3659898.png" alt="img_product">
                <div class="description-product">
                    <h2 class="title"> Descrição:</h2>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut deleniti ullam, eos illo quidem vero
                    praesentium repellendus inventore, eaque animi dolore. Accusamus numquam fuga sapiente magnam.
                    Eveniet alias voluptatum nesciunt.
                </div>
            </div>
            <div class="content-right">
                <div class="top-info">
                    <span>Novo | 121 Vendidos</span>
                    <span id="icon-favority"> <fa-icon [icon]="faHeartRegular"></fa-icon> </span>
                </div>
                <div class="name-product">

                </div>
                <div class="frete-options">

                </div>
                <div class="actions">

                </div>
            </div>
        </div>
    </div>
</main>