<app-header></app-header>
<main>
    <div class="container">
        <div class="content-product-details" *ngIf="product" >
            <div class="content-left">
                <img [src]="product.image!.url" alt="img_product">
             
                    <ul id="others-info">
                        <h4>Outras informações:</h4>
                        <li>Lorem ipsum dolor sit amet consectetur adipisi </li>
                        <li>Tempora expedita cum sequi, voluptatem facilis </li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing</li>
                        <li>met, praesentium odio consequuntur non quidem a velit c</li>
                        <li>Nihil ab atque laboriosam! Voluptatibus distinctio</li>
                        <li>Nihil ab atque laboriosam! Voluptatibus distinctio</li>
                    </ul>
            </div>
            <div class="content-right" *ngIf="product">
                <div class="content-info">
                <div class="top-info">
                    <span>{{product!.isNew ? 'Novo' : 'Usado'}} | 121 Vendidos</span>
                    <span id="icon-favority"> <fa-icon [icon]="faHeartRegular"></fa-icon> </span>
                </div>
                <p id="name-product">
                   {{product.name}}
                </p>
                <div class="description-product">
                    <h4 class="title"> Descrição:</h4>
                    {{product.descrition}}
                </div>
                <div id="price-product">
                    <h4>R$ {{product.price.toFixed(2)}}</h4> em <span>10x R${{(product.price/10).toFixed(2)}} sem juros</span>
                </div>
            </div>
            <div class="options">
                <div id="quantity-product">
                    <label for="form-select">Quantidade:</label>
                    <select class="form-select" aria-label="Default select example">
                        <option value="1" selected>1 Unidade</option>
                        <option value="2">2 Unidades</option>
                        <option value="3">3 Unidades</option>
                        <option value="4">4 Unidades</option>
                        <option value="5">5 Unidades</option>
                        <option value="6">6 Unidades</option>
                        <option value="7">7 Unidades</option>
                      </select>
                      <span>({{product.quantity}}) dispo...</span>
                </div>
                <div class="actions">
                <a routerLink="product/details" type="button" class="btn btn-outline-success">Comprar Agora!</a>
                <button type="button" class="btn btn-outline-primary"> Adicionar ao carrinho!</button>
            </div>

                <div class="options-frete">
                    <span> <fa-icon [icon]="faTruckFast"></fa-icon> Prazos e entragas</span>
                    <button type="button" class="btn btn-warning" (click)="openModal(template)" >Calcular frete!</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</main>

<!--Modal calc frete-->
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Calcular frete e prazos.</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <div class="form-calc-frete">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="Somente numeros" [(ngModel)]="cep" #icep="ngModel">
            <label for="floatingInput">CEP:</label>
          </div>
        <button type="button" class="btn btn-info" (click)="calFretePrazo()" >Buscar</button>
      </div>

    </div>
  </ng-template>
  <!--Modal calc frete-->