<app-header></app-header>
<main>
    <div class="container">
        <div class="content-profile">
           <div class="title-profile">
                <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" alt="img_profile" class="image">
                <h4 *ngIf="currentUSer">
                    {{currentUSer.name + " " +currentUSer.lastname}}
                </h4>
           </div>
           <ul class="info-profile">
            <!-- perdonal informations -->
                <li class="personal-info"> 
                    <accordion>
                        <accordion-group heading="Informações pessoais" [panelClass]="'customClassAccording'">
                          
                            <form class="form-info-personal" [formGroup]="formProfile" #profileForm="ngForm" (submit)="updateProfile()">

                                <div class="form-group">
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email:</label>
                                        <input type="email" class="form-control" id="email" readonly formControlName="email">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="mb-3 customPassword">
                                        <label for="newPassword" class="form-label">Nova Senha:</label>
                                        <input [type]="hideBtn01 ? 'password' : 'text' " class="form-control" id="newPassword" 
                                        formControlName="newPassword" placeholder="mínimo 8 caracteres">
                                        <button type="button" class="bth-change-icon" (click)="hideBtn01 = !hideBtn01" > <fa-icon [icon]="hideBtn01 ? faEyeSlash : faEye" ></fa-icon> </button>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="mb-3 customPassword">
                                        <label for="confirmPassword" class="form-label">Confirme nova senha:</label>
                                        <input [type]="hideBtn02 ? 'password' : 'text' " class="form-control" id="confirmPassword"
                                        formControlName="confirmPassword" placeholder="mínimo 8 caracteres">
                                        <button type="button" class="bth-change-icon" (click)="hideBtn02 = !hideBtn02" > <fa-icon [icon]="hideBtn02 ? faEyeSlash : faEye" ></fa-icon> </button>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="mb-3 customPassword">
                                        <label for="oldPassword" class="form-label">Senha atual:</label>
                                        <input [type]="hideBtn03 ? 'password' : 'text' " class="form-control" id="oldPassword" formControlName="oldPassword">
                                        <button type="button" class="bth-change-icon" (click)="hideBtn03 = !hideBtn03" > <fa-icon [icon]="hideBtn03 ? faEyeSlash : faEye" ></fa-icon> </button>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success" [disabled]="profileForm.invalid" (click)="updateProfile()" >Salvar alterações!</button>

                            </form>

                        </accordion-group>
                    </accordion>
                </li>
                <!--Personal informations-->


                <!-- address informations-->
                <li class="address-info">
                    <accordion>
                        <accordion-group heading="Informações de endereço" [panelClass]="'customClassAccording'" >
                         
                            <div class="frete-container">
                                <div class="content">

                                    <!-- <div class="loading" *ngIf="loading">
                                        <div class="spinner-border text-warning" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                      </div>
                                    </div> -->

                                    <ul class="card-address" >
                                        <li class="form-control" *ngFor="let address of allAdress; let i = index" >
                                            <span>Cep: {{address.cep}} | </span>
                                            <span>Estado: {{address.uf}} | </span>
                                            <span>Cidade: {{address.city}} | </span>
                                            <span>logradouro: {{address.logradouro}} | </span>
                                            <span>Numero: {{address.number}} | </span>
                                            <span>Complemento: {{address.complement}} | </span>
                                            <span> Quem vai receber: {{address.whoReceive}} | </span>
                                            <button (click)="DeleteAddress(i)" >Excluir</button>
                                            
                                        </li>
                                    </ul>
                                    <button (click)="openModal(template)" *ngIf="allAdress.length <= 2"> <fa-icon [icon]="faPlus"></fa-icon> Adicionar um novo
                                        endereço</button>
                                </div>
                            </div>

                        </accordion-group>
                    </accordion>    
                </li>
                <!--Address informations-->

                <!-- wallet informations -->
                <li class="info-carteira">
                    <accordion>
                        <accordion-group heading="Carteira MyStore" [panelClass]="'customClassAccording'" >
                          <div class="content-wallet">
                            <div class="info">
                                <span>Saldo:</span> <span>R$1000,00</span>
                            </div>
                            <div class="separator"></div>
                            <button type="button" class="btn btn-info">Pedir Saldo!</button>
                          </div>
                        </accordion-group>
                    </accordion>
                </li>
                 <!-- wallet informations -->
           </ul>
        </div>
    </div>
</main>


<!--Modal new address-->
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left"> Adicionar endereço.</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <form class="form-address" [formGroup]="formAddress" #addresForm="ngForm">

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">CEP:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" required formControlName="cep"
                    placeholder="Apenas numeros..." (blur)="searchCep($event)">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Estado:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" readonly formControlName="uf">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Cidade:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" readonly formControlName="city">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Logradouro:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="logradouro">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Numero:</label>
                <input type="number" class="form-control" id="exampleFormControlInput1" formControlName="number">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Complemento:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="complement">
            </div>

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Quem vai receber:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="whoReceive">
            </div>

            

            <button type="button" class="btn btn-warning"
                [disabled]="addresForm.invalid" (click)="addAddress()">Adicionar</button>

        </form>

    </div>
</ng-template>
<!--Modal new address-->