
<div class="card">

    <div class="favority">
        <button (click)="chengeIconFavority()" title="Adicionar aos favoritos">
            <fa-icon [icon]="iconFavority"></fa-icon>
        </button>
    </div>

    <a routerLink="product/details/{{Product.id}}" class="card-link">
        <img [src]="Product!.image!.url" alt="img_product" id="img-product">
    <div class="footer-card">
        <div class="info-products">
            <p id="name-product">
                {{Product.name}}
            </p>
            <p id="price-product">
                R$ {{Product.price.toFixed(2)}}
            </p>
            <p id="frete">
                Frete gratis!
            </p>
        </div>
    </div>
    </a>
    <div class="actions">
        <button type="button" class="btn btn-outline-primary"> Adicionar ao carrinho!</button>
    </div>
</div>

