@use '../../../sassvariables/colors'

*
    margin: 0

.card
    .card-link
        color: #000
        max-width: 15em
        position: relative
    width: 15em
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
    cursor: pointer
    transition: 0.3s
    position: relative
    margin-bottom: 5em
    padding: 0.6em 0em
    color: #000
    .favority
        position: absolute
        z-index: 1000
        border: none
        background: none
        right: 11px
        top: 1px
        font-size: 1.4em
        button
            border: none
            background: none
            width: 100%
            color: colors.$third-color

    #img-product
        width: 100%
        border-bottom: 1px solid #aaa
        padding-bottom: 0.3em
        padding: 0.2em 0.3em
        
.card:hover
    transform: scale(1.04)
    height: 90%
    #icon-favority
        display: block
        z-index: 1000
    .actions
        display: flex

   

.info-products
    padding: 0.4em 0.5em
    #name-product
        font-size: 0.9em
    #price-product
        font-size: 1.2em
        font-weight: 500
    #frete
        color: colors.$second-color
        font-weight: 500

.actions
    position: absolute
    z-index: 1000
    bottom: 0.5em
    width: 100%
    display: none
    justify-content: center
    transition: 0.3s




    