<main>
    <div class="container-auth">
        <form class="form-auth">

            <div class="title">
                Cadastre-se agora!
            </div>

            <div class="form-group">
                <label for="name">Nome:</label>
                <input type="text" placeholder="Digite seu nome" name="name">
            </div>

            <div class="form-group">
                <label for="lastname">Sobrenome:</label>
                <input type="text" placeholder="Digite seu sobrenome" name="lastname">
            </div>

           <div class="form-group">
            <label for="username">Email:</label>
            <input type="text" placeholder="Nome de usuario" name="username">
           </div>

           <div class="form-group">
            <label for="password">Senha:</label>
            <input type="text" placeholder="Digite sua senha..." name="password">
           </div>
           <div class="btns">
                <input type="submit" value="Enviar">
                <a routerLink="/login">Faça login agora!</a>
           </div>
        </form>
    </div>
</main>
