<app-header-simple [titleHeader]="'Minhas compras'" ></app-header-simple>
<main>
    <div class="container-orders">
        <div class="content-orders">
            <div class="search-order">
                <label for="basic-url" class="form-label">Filtre pela data</label>
                <div class="input-group mb-3">
                    <input type="date" class="form-control" #inputDate id="dateField" 
                    placeholder="Recipient's username" aria-label="Busque pela data" aria-describedby="button-addon2">

                    <button class="btn btn-primary"  type="button" id="button-addon2" (click)="filterOrders(inputDate)">Buscar</button>
                  </div>
            </div>
            <div class="tbl-orders table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Data</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Coprovante</th>
                            <th scope="col">Detalhes</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let order of orders | paginate:{ itemsPerPage:10, currentPage: p, totalItems:totalElements};let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{ formataStringData(order.date)}}</td>
                            <td>{{(order.valueItems+order.frete).toFixed(2)}}</td>
                            <td><button class="btn btn-secondary" title="Imprimir comprovante"> <fa-icon [icon]="faReceipt"></fa-icon> </button> </td>
                            <td><button class="btn btn-secondary" title="Detalhes" (click)="openModalWithClass(template,order.id)" ><fa-icon [icon]="faCircleInfo"></fa-icon> </button></td>
                          </tr>
                      </tbody>
                </table>
            </div>
            <div class="paginate">
              <pagination-controls
              (pageChange)="changePageOrder(p = $event)" 
              [responsive]="true"
              nextLabel="Proximo"
              previousLabel="Enterior" 
              class="my-pagination"
              ></pagination-controls>
          </div> 
        </div>
    </div>
</main>

<!--Modal order details-->
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Pedido: {{orderDetails.id}}</h4>
      <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      
      <div class="content-details">

        <div class="details-order">

          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="basic-addon1">Data</span>
            <input type="text" class="form-control" placeholder="Username" 
            aria-label="Username" aria-describedby="basic-addon1" 
            [value]="formataStringData(orderDetails!.date)" readonly>
          </div>

          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="basic-addon1">Total itens:</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"
             [value]="'R$ ' +orderDetails.valueItems.toFixed(2)" readonly>
          </div>

          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="basic-addon1">Frete e manuseio:</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" 
            [value]="'R$ ' +orderDetails.frete.toFixed(2)" readonly>
          </div>

          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text" id="basic-addon1">Valor total:</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" 
            [value]="'R$ ' +(orderDetails.valueItems + orderDetails.frete).toFixed(2)" readonly>
          </div>

        </div>

        <div class="itens-list">
          <div class="title">
              <h4>Itens:</h4>
          </div>
          <ul class="itens" >
            <li class="card-sm-item" *ngFor=" let item of orderDetails.items " >
                <img [src]="item.product.image!.url" alt="img_product">
                <div class="info">
                  <div class="name"> {{item.product.name}} </div>
                  <div class="price"> <span>Preço:</span> R$ {{item.product.price.toFixed(2)}}</div>
                  <div class="quantity"> <span> Quantidade: </span>{{item.quantity}} </div>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </ng-template>
<!-- Modal order details-->