<app-header (emiterNameSearch)="SearchProduct($event)" (emiterCategory)="publicFindByCategory($event)"
(emiterOfferOfDay)="findOfferOfDay($event)"></app-header>

<main>

  <!--Carroucel-->
  <div class="container-hero">
    <div class="content-hero">
      <carousel>
        <slide>
          <img
            src="https://images.unsplash.com/photo-1481207801830-97f0f9a1337e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="first slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img
            src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="second slide" style="display: block; width: 100%;">
        </slide>
        <slide>
          <img
            src="https://images.unsplash.com/photo-1563430862227-8fe668221256?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="third slide" style="display: block; width: 100%;">
        </slide>
      </carousel>
      <span> <i>imagens: https://unsplash.com/</i> </span>
    </div>
  </div>
  <!--Carroucel-->

  <p *ngIf="ListProduc.length == 0" class="not-result">Nenhum resultado relacionado a "{{nameSearch}}"! </p>
  <app-product-list [ListProduct]="ListProduc" (offset)="getProductsPaginate($event)"
    [totalElements]="totalElements"></app-product-list>
</main>