@use './app/sassvariables/colors'
    
*
    margin: 0
    padding: 0
    box-sizing: border-box

main
    min-height: 85vh
    background-color: colors.$primary-background-color

footer
    min-height: 8vh

.container
    width: 100%
    height: 100%
    display: flex
    justify-content: center

a
    text-decoration: none

//ngx-bootstrap custon
.my-pagination .ngx-pagination .current
    background: colors.$second-background-color
    border-radius: 15px

.customClassAccording
    text-decoration: none
    .btn-link
        text-decoration: none
//ngx-bootstrap custon

.not-result
    width: 100%
    padding-top: 2em 
    text-align: center
    color: #000
    font-size: 1em

.message-error
    text-align: center
    color: red
    font-size: 1em


// styles card order   
.prod-card
    .content-card
        display: flex
        align-items: center
        width: 100%
        .image
            width: 107px
            height: 80px
            margin-right: 1em
            img
                width: 100%
        .info
            width: 100%
            display: flex
            flex-direction: column
            .form-select
                width: 142px
            .options
                height: 36px
                display: flex
                align-items: center
                gap: 1em
                .btn-del, .btn-add
                    padding: 0.2em 0.5em
                    border: none
                    color: #fff
                    border-radius: 5px
                .btn-del
                    background-color: #dc3545
                .btn-add
                    background-color: #0d6efd
            #name
                width: 100%
                padding-right: 1em
                display: flex
                justify-content: space-between
                align-items: center
            #price
                font-weight: bold

/*Elemet input custom styles*/
.input-custom-number
    width: 4em
    height: 29px
    display: flex
    justify-content: center
    align-items: center
    background-color: #aaa
    border-radius: 12px
    .decrement,
    .increment
        border: none
        background: none
        font-size: 1.2em
        font-weight: bold
        width: 100%
        background-color: colors.$second-background-color
        color: #fff
    .decrement
        border-bottom-left-radius: 12px
        border-top-left-radius: 12px
    .increment
        border-bottom-right-radius: 12px
        border-top-right-radius: 12px
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button
        -webkit-appearance: none
    .attibut-value
        border: none
        background: none
        color: #000
        font: 1em
        outline: none
        text-align: center
        width: 1.5em
        padding: 0.2em
        font-weight: bold 
    /*Elemet input custom styles*/
// styles card order

//Styles form auth
.container-auth
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    color: #fff
    .form-auth
        background-color: colors.$second-background-color
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px
        width: 400px
        display: flex
        flex-direction: column
        align-items: center
        padding: 1em 1em
        gap: 1em
        border-radius: 5px
        .title
            padding: 0.3em 0.3em
            font-size: 1.5em
        .form-group
            width: 100%
            position: relative
            display: flex
            flex-direction: column
            gap: 0.3em
            input
                outline: none
                border: none
                border-radius: 5px
                padding: 0.5em 0.4em
            .bth-change-icon
                position: absolute
                background: none
                font-size: 1.2em
                border: none
                right: 18px
                bottom: 5px
        .btns
            width: 100%
            display: flex
            margin-top: 1em 
            flex-direction: column
            align-items: center
            gap: 1em
            input[type="submit"]
                font-size: 1.2em
                font-weight: bold
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
                color: colors.$second-background-color
                border: none
                width: 100%
                padding: 0.2em 0.5em
                border-radius: 5px
            a
                color: #fff
//Styles form auth


//card address styles
.card-address
    padding: 0
    li
        margin-bottom: 0.4em
        input[type="radio"]
            margin-right: 0.4em
            cursor: pointer
    button
        color: #0000FF
        text-decoration: underline
        border: none
        background: none
        margin: 0em 0.2em
//card address styles
            
            
.separator
    width: 100%
    margin: 1em 0em
    height: 1px
    background-color: colors.$second-background-color


.loading
    position: absolute
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
