<div class="container">
    <div class="list-products">
        <div class="content-list">
        <app-product-component></app-product-component>
        <app-product-component></app-product-component>
        <app-product-component></app-product-component>
        <app-product-component></app-product-component>
        <app-product-component></app-product-component>
        <app-product-component></app-product-component>
        <app-product-component></app-product-component>
        <app-product-component></app-product-component>
        <app-product-component></app-product-component>
        <app-product-component></app-product-component>
        <app-product-component></app-product-component>
        <app-product-component></app-product-component>
    </div>
    </div>
</div>
