<div class="container-list">
    <div class="list-products">
    <ul class="content-list">
        <li *ngFor="let product of ListProduct | paginate:{ itemsPerPage:16, currentPage: p, totalItems:totalElements}  ">
            <app-product-component [Product]="product"></app-product-component>
        </li>   
    </ul>
    <div class="paginate">
        <pagination-controls 
        (pageChange)="changePage(p = $event)" 
        [responsive]="true"
        nextLabel="Proximo"
        previousLabel="Enterior" 
        class="my-pagination"
        ></pagination-controls>
    </div> 
    </div>
</div>
